{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}

<table border="0" align="centre">
	<tr>
		<td><img style="margin-left:100px" src={% static 'blog/images/4/shopping.png' %} alt="" /></td>
		<td align="center" valign="middle" >
			<h1 style="color:orange">Welcome to E-BID's Add Product Page</h1>
		<div class="signup-form" style="margin-left:0px">
			<span id="error_mag" style ="color: red;">{{ error }}</span>
			<form class="signup-form" style="color:orange" action="{% url 'addproduct' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<table>
			{{ form.as_table }}
			<tr><td></td><td><br><input type="submit" value="Submit"/></td></tr>
			</table>
			</form>	
			<div>
		</td>
		
	</tr>	
</table>
<script>
$('.some_class').datetimepicker({
dateFormat: 'dd-mm-yy'
});
$(document).ready(function(){
    $("#id_expdatetime").change(function(){
        var expdatetime=$("#id_expdatetime").val();
       expdatetime=expdatetime.replace(/\//g, "-");
        $("#id_expdatetimehidden").val(expdatetime+":00");
        //alert($("#id_expdatetimehidden").val());
    });
});
</script>
{% endblock content %}
