{% extends 'blog/base.html' %}
{% block content %}
{% load staticfiles %}

<script src={% static 'blog/js/productsincategory.js' %} ></script>


<style type = "text/css">
.bid_button {
	-moz-box-shadow: 0px 1px 11px 2px #9fb4f2;
	-webkit-box-shadow: 0px 1px 11px 2px #9fb4f2;
	box-shadow: 0px 1px 11px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #731212), color-stop(1, #ff5619));
	background:-moz-linear-gradient(top, #731212 5%, #ff5619 100%);
	background:-webkit-linear-gradient(top, #731212 5%, #ff5619 100%);
	background:-o-linear-gradient(top, #731212 5%, #ff5619 100%);
	background:-ms-linear-gradient(top, #731212 5%, #ff5619 100%);
	background:linear-gradient(to bottom, #731212 5%, #ff5619 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#731212', endColorstr='#ff5619',GradientType=0);
	background-color:#731212;
	-moz-border-radius:27px;
	-webkit-border-radius:27px;
	border-radius:27px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:14px;
	font-weight:bold;
	padding:8px 6px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.bid_button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5619), color-stop(1, #731212));
	background:-moz-linear-gradient(top, #ff5619 5%, #731212 100%);
	background:-webkit-linear-gradient(top, #ff5619 5%, #731212 100%);
	background:-o-linear-gradient(top, #ff5619 5%, #731212 100%);
	background:-ms-linear-gradient(top, #ff5619 5%, #731212 100%);
	background:linear-gradient(to bottom, #ff5619 5%, #731212 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5619', endColorstr='#731212',GradientType=0);
	background-color:#ff5619;
}
.bid_button:active {
	position:relative;
	top:1px;
}
<style type="text/css">
    .inputclass {
  background: #F0F0E9;
  border: medium none;
  color: #696763;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-bottom: 10px;
  outline: medium none;
  padding-left: 10px;
  width: 100%;
}

.login-form form span{
  line-height: 25px;
}

.inputclass input {
  width: 15px;
  float: left;
  height: 15px;
  margin-right: 5px;
}



.btn {
  background: #FE980F;
  border: medium none;
  border-radius: 0;
  color: #FFFFFF;
  display: block;
  font-family: 'Roboto', sans-serif;
  padding: 6px 25px;
}
</style>

</style>














<h1></h1>
{% csrf_token %}
	<section>
		<div class="container">
   
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2 style="margin-left:100px;">Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							{% for c in choices%}

								<div class="panel panel-default">
									<div class="panel-heading">
									<h4 class="panel-title"> <a href={% url 'products_in_category' c.0 %} > {{ c.1 }} </a></h4>
									</div>
								</div>

							{% endfor %}
	
						</div><!--/category-products-->
					
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
										<h2 class="title text-center" style="margin-left:350px;">Category Products</h2>
										<br>

					<div class="features_items"><!--features_items-->
					<br>
									{% for p in products %}
									{% with pid=p.id %}
										<div class="col-sm-4" style="height: auto;width: 285px;">
							
											<div class="product-image-wrapper">
													<div class="single-products" style="height:auto">
														<div class="productinfo text-center">
										
															<!-- <span class="timer" style="float:right;color:#FF0000"></span> -->
															Time Remaining: <p class="countdown" style="float:right;color:red"></p>

															<input type="hidden" id="expdatetime_{{ p.id }}" class="expdatetime" value="{{p.expdatetime|date:'Y-m-d H:i:s'}}">
															
															<br>
															<br>
															<img class="robot" id="robot_{{ p.id }}"  src={% static 'blog/images/robot_icon.png' %} alt="robot" style="height:35px;width:35px;float:right;cursor:pointer">
															<br>
					
															<h3>{{ p.product_name }}</h3>
															
						
															<h2>Price: {{ p.price }}$</h2>
															<p><a href="{% url 'viewproduct' p.id %}"><img src={% static p.product_path %} alt="product image"  width="200" height="200" ></a></p>

															<input id={{ p.id }} type="text"> &nbsp;&nbsp;<input class="bid_button" type="button" value="Bid now">
															<p class="current_max_bid" style="float:left;color:#FF0000;margin-left:60px"></p>
																									 <script type="text/javascript">
    setTimeout(function(){
        callAjaxInitial( {{ p.id }} );
        myVar[{{ p.id }}]=setInterval(function(){callAjaxInitial( {{ p.id }} );},3000);
        },500);
    </script>
														</div>
										
										
													</div>
													
											</div>
										</div>

    {% endwith %}
{% endfor %}

</table>
</form>
					</div>
				</div>
</div></section>
<div id="robot_div" style="width:300px;height:100px;position:absolute;display:none;border:1px solid #000;z-index:10000;top:200px;left:40%;background-color:#fff;box-shadow: 3px 3px 5px #888;">
   <img id="close" src={% static 'blog/images/close.png' %} style="top:0px;float:right;cursor:pointer">
<br>
    <center>
        <div class="content">

            <input type="number" value="" name="Amount" id="Amount">
        <br><br>
            <input class=".btn" type="button" value="AutoBid" id="Autobidbutton">
    </div>
    </center>
</div>
<script>
var current_product_id=0;
    $(document).ready(function(){

        $(".robot").click(function(){
            current_product_id=this.id.split("_")[1];
            //alert(current_product_id);
            $("#robot_div").show();

        });
        $("#close").click(function(){
             $("#robot_div").hide();
        });
        $("#Autobidbutton").click(function(){
            autobid_ajax(0);
            $("#robot_div").hide();
        });

        /* $.each($(".robot"), function(index,element){
            current_product_id=element.id.split("_")[1];
            autobid_ajax(1);
         });*/
        //autobid_ajax(1);
    });
    function autobid_ajax(flag){
    var bid_val=$("#Amount").val();

             if(bid_val<=0 || bid_val=="" || isNaN(bid_val))
             {
                bid_val=0;
             }
             $.ajax({
				        url : autobidURL, // the endpoint
				        type : "POST", // http method
				        beforeSend: function(xhr, settings) {
					        if (!this.crossDomain) {
					            xhr.setRequestHeader("X-CSRFToken", csrftoken);
					        }
					    },
						data:{
							'bid_val':bid_val,
							'product_id':current_product_id,
							'flag':flag
						},
				        success : function(data) {
                            //alert(JSON.stringify(data));
							$("#Amount").val(data['auto_bid_val'])
				        },

				        // handle a non-successful response
				        error : function(xhr,errmsg,err) {
				           console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
				        }
		    });

    }
</script>
<br><br><br><br><br><br>
{% endblock content %}
